includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 5
    paths:
        - wpessential.php
        - frameworks
    tmpDir: var/phpstan
    reportUnmatchedIgnoredErrors: true
