<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/Unit/bootstrap.php"
         cacheDirectory="var/phpunit"
         colors="true"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="WPEssential Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source restrictDeprecations="true" ignoreSuppressionOfDeprecations="true">
        <include>
            <directory suffix=".php">frameworks</directory>
        </include>
    </source>
</phpunit>
